<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileappsco.training.mymovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.mobileappsco.training.mymovies.AppController"
        android:theme="@style/AppTheme">

        <!-- SUGAR ORM -->
        <meta-data android:name="DATABASE" android:value="com.mobileappsco.training.mymovies.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.mobileappsco.training.mymovies" />

        <!-- The Movie DB -->
        <meta-data android:name="API_KEY" android:value="cac0b89ef7b5aa3a980f240f7c20af68" />
        <meta-data android:name="API_URL" android:value="http://api.themoviedb.org/3" />
        <meta-data android:name="API_IMAGE" android:value="http://image.tmdb.org/t/p/w500" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
